.math-field {
    font-size: 18pt;
    white-space: nowrap;
}

.math-field.mq-editable-field {
    min-width: 68%;
}

#calculators {
    margin-top: 20px;
}

#mathquill .mq-focused {
    -webkit-box-shadow: none;
    box-shadow: none !important;
}

.backdrop {
    visibility: hidden !important;
}

.input-field .material-icons {
    margin-top: 10px;
}

#handed .col {
    height: 100%;
}

.aligned {
    display: flex;
    align-items: center;
}

.centered {
    justify-content: center;
}

.collapsible * {
    box-shadow: none !important;
}

.collapsible-body {
    padding: 0;
}

.block-picker {
    width: auto !important;
    height: auto !important;
    padding: 5px !important;
}

#n-slider {
    width: 95%;
}

#handed {
    align-items: center;
}

#running-area {
    padding-top: 25px;
}

.btn.red {
    width: 100%;
}

input[type='text'].invalid {
    border-bottom: 1px solid red;
    box-shadow: 0 1px 0 0 red;
}

input::-moz-focus-outer {
    outline: 0 !important;
    border: 0 !important;
    outline-style: none !important;
}